<h1>Edit Plofile</h1>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <%= form_for @user do |f| %>
          <%= f.label :age %>
          <%= f.number_field :age, class: 'form-control' %>
    
          <%= f.label :profile %>
          <%= f.text_area :profile, class: 'form-control' %>
    
          <%= f.submit "Up date", class: "btn btn-primary" %>
        <% end %>
    </div>
</div>